$darkgrey: #1d1d1f;
$lightgrey: #fafafa;
$green:#2abb9b;
$darkgreen:#00a98e;
$darkblue: #03002f;
$lightergrey: #cccbcb;
$headinggrey: #e8e8e8;
$cream: #fbf7ed;
$creamer: #fdeab9;
$gold:#d4b77d;
$lightgold:#d9d0be;
$orange: #ff7c57;